<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/calender.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <title>Calender</title>
</head>

<body>


    <!-- <form >

        
<label>first_name</label> <input type="text" placeholder="Maka"><br>
<label>last_name</label>  <input type="text" placeholder="Tech"><br>
<label>Age</label> <input type="number"><br>
<label >Email</label> <input type="email" placeholder="maka@gmail.com"><br><br>

<input type="submit" value="Submit"> -->

    <!-- <hr> -->
    <h1>AUGUST 2022</h1>
    <table>
        <thead>

            <tr>
                <th><a id="non" href="#">Sun</a></th>

                <th><a id="non" href="#">Mon</a></th>
                <th><a id="non" href="#">Tue</a></th>
                <th><a id="non" href="#">Wed</a></th>
                <th><a id="non" href="#">Thu</a></th>
                <th><a id="non" href="#">Fri</a></th>
                <th><a id="non" href="#">Sat</a></th>
            </tr>
        </thead>

        <div id="container">

            <tbody class="topboy">
                <tr>
                    <td>31</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>


                <tr>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>


                <tr>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                </tr>

                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                </tr>
            </tbody>

            <tfoot>

                <tr class="color">
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td class="one">1</td>
                    <td class="one">2</td>
                    <td class="one">3</td>

                    

                </tr>


            </tfoot>


         </table>

         <center>
            <footer>
             <h2>Free Printable Calender from : <a id="non" href="#">MAKA-TECH®</a> </h2>
            </footer>
         </center>


    </div>
</body>

</html>