<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/markup.css">
    <title>Markup Validator</title>
</head>

<body>
    <header>
        <h1>Using the Markup Validator.</h1>
    </header><br>

    <nav>

        <a href="#">what is the Makeup and what does it do ?</a><br>
        <a href="#">Why Validator</a><br>
        <a href="#">How do I use the Markup validator?</a><br>
        <a href="#">Many error messages? Don't panic.</a><br><br>

    </nav><br>

    <section>

        <h2>What is the Markup Validator and what does it do?</h2>

        <p>Lorem ipsum dolor, sit amet consectetur <a href="#">validates markup</a> adipisicing elit. Modi architecto
            ullam error odit?</p>

    </section><br>

    <section>

        <h2>Why validator?</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi architecto ullam error odit?</p>

        <blockquote>Lorem ipsum dolor sit amet consectetur.</blockquote>

    </section><br>


    <section>


        <h2>How do i use the markup validator</h2>

        <p>Most probably, you will want to use online Markup Validator service. The simple way to use this service to
            validator a Web page si to paste it's address into the <a href="#">text area</a> on the <a
                href="#">validation's home page,</a> and press the "Check"button.</p>

    </section><br>
    <section>
         <h2>Many error messages? Don't panic.</h2>
         
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet sequi molestiae corporis molestias et,
            non illo. Molestias, id reprehenderit.</p><br>

    </section><br>

    <footer>
        <p>written by: MAKA-TECH</p>

        <p>For more information, please visit <a href="#">this page.</a></p>

    </footer>














</body>

</html>