<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css
    ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@600&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/netflix.css">
    <title>Netflix</title>
</head>
<body>

    <div class="imhh">

    

    <nav>
        <h1 class="uii">NETFLIX</h1>

        <ul>
            <li class="sig">Sign in</li>
        </ul>
    </nav>

    <div class="cen">
        <h1>Unlimited movies, TV <br> shows, and more.</h1><br>
        <p class="firstp">Watch anywhere. Cancel anytime</p> <br>
        <p>Ready to watch? Enter your email to create or restart your membership</p>

        <div class="dee">
            <input type="email" id="email" placeholder="Email address"><label for="email">Get Started ></label>
            
            <!-- <i class="fa fa-angle-right" aria-hidden="true"></i> -->
        </div>
    </div>

</div>
    
</body>
</html>